body {
	font-family: monospace;
	font-size: 13pt;
	background-color: black; 
	color: rgb(4, 144, 250); 
}

th {
	text-align: left;
	color:rgb(4, 144, 250); 
}

img {
	width: 100%;
	margin-bottom: 10px;
}

.kotak {
	border: 1px solid black;
	width: 60%;
	margin: 10px auto;
	padding: 20px;
	background-color: black;
	color: rgb(4, 144, 250);
}

.judul {
	text-align: center;
	background: rgb(0, 140, 255);
	color: white;
}

.blok {
	overflow: hidden;
}

.kiri {
	width: 20%;
	float: left;
}

.kanan {
	width: 70%;
	padding: 0px 20px;
	float: left;
}

@media only screen and (max-width: 768px) {
	.kotak {
		width: 100%;
		padding: 0px;
		border: none;
		background-color: black; 
	}

	.kiri {
		width: 100%;
	}

	.kanan {
		width: 100%;
		padding: 0;
	}
}
